= render 'layouts/head_devise'

%body.devise
  = render 'layouts/alerts'

	%section.container
		.devise-content
  		%h2.devise-title Forgot your password?

			= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|

			  .devise-field
			  	= f.label :email, 'Email'
			  	= f.email_field :email, autofocus: true, required: true

			  .devise-submit
			  	= f.submit 'Enviar pedido', class: 'devise-btn'

		.devise-links
			= render 'devise/shared/links'
